name: CD

on:
  push:
    branches:
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/oxec-immigration:latest

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            set -e
            docker stop oxce || true
            docker rm -f oxce || true
            docker rmi -f ${{ secrets.DOCKERHUB_USERNAME }}/oxec-immigration:latest || true
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/oxec-immigration:latest
            docker run -itd \
              --name oxce \
              -p 80:80 \
              -e NODE_ENV=production \
              -e PORT=80 \
              ${{ secrets.DOCKERHUB_USERNAME }}/oxec-immigration:latest
